html {
    height: 100%;
}
 
body {
    height: 100%;
}

.container {
max-width: 100%;
}
#home-bg {
    background:
    linear-gradient(
        rgba(31, 31, 31, 0.45), 
        rgba(1, 1, 1, 0.45)
      ),
      url(../Assets/Images/INDEX.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-bottom: -20px;
}

.name {
    font-family: "Anton";
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}

.title {
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    font-style: italic;
    color: #fff799;
    margin-top: -10px;
}

.quote {
    font-family: "Space Mono";
    color: white;
    font-size: 25px;
}

strong {
    color: #fff799;
}

.malcom {
    font-family: "Open Sans Condensed";
    color: #333;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#home-btn{
    background: transparent;
    border-width:  2px;
    border-style: solid;
    border-color:#fff799;
    color: white;
    font-family: "Oswald";
    text-transform: uppercase;
  
}

/* About */

aside {
    background:linear-gradient(
        rgba(31, 31, 31, 0.45), 
        rgba(1, 1, 1, 0.45)
      );
      position: fixed;
     height: 100%;
      text-align: center;
      color: white;
}

#aside-header {
    font-family: "Anton";
    text-transform: uppercase;
    
}
#aside-btn {
    background-color: #fff799;
    color: #333;
    font-family: "Oswald";
    text-transform: uppercase;
    padding: 10px;
 
}

#bio {
    font-family: "Open Sans Condensed";
    font-size: 20px;
}

#aside-nav{
    margin-top: 200px;
    margin-bottom: 200px;
    
}

.btn {
    background-color: #fff799;
    color: #333;
    font-family: "Oswald";
    text-transform: uppercase;
    border: none;
}
 

/* Projects */

#graphic-link-div{
    margin-left: 14px;
    height: 350px;
    text-align: left;
    font-family: "Oswald";
    text-transform: uppercase;
    font-style: italic;
    background-color: #fff799;
    width: auto;
    margin-top: 45px;
    border-radius: 0;
    width: 100%;
   
}

#content-link-div{
    margin-left: 14px;
    height: 330px;
    text-align: left;
    font-family: "Oswald";
    text-transform: uppercase;
    font-style: italic;
    width: auto;
    border-radius: 0;
    width: 100%;

    
}


/* Footer */
footer {
    background-color: #333;
    color: white;
   width: 100%;
   position: absolute;
   bottom: 0;
   height: 60px;
   margin-left: -15px;
}


/* Web Design */

.gallery_product{
    width: 173px;
    padding: 0;
  
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

img {
    width:100%;
}

#img {
    margin: auto;
}

#web-link-div{
    margin-left: 15px;
    height: 400px;
    text-align: left;
    font-family: "Oswald";
    text-transform: uppercase;
    font-style: italic;
    background-color: rgb(95, 156, 136);;
    width: auto;
    margin-top: 45px;
    border-radius: 0;
    width: 100%;
}

#graphics-link-div{
    margin-left: 15px;
    height: 400px;
    text-align: left;
    font-family: "Oswald";
    text-transform: uppercase;
    font-style: italic;
    background-color: rgb(126, 146, 167);;
    width: auto;
    margin-top: 45px;
    border-radius: 0;
    width: 100%;
}

/* Contact */

#contact-div{
    
    height: 400px;
    text-align: left;
    font-family: "Oswald";
    text-transform: uppercase;
    font-style: italic;
    background-color: rgb(95, 156, 136);;
    width: auto;
    margin-top: 45px;
    border-radius: 0;
    width: 100%;
}



